.Modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.Modal--background {
    background: rgba(0,0,0,.3);
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.Modal--children {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}