.example-appear {
    opacity: 0;
}
.example-appear-active {
    opacity: 1;
    transition: opacity 10s;
}


.Menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    position: fixed;
    bottom: 0rem;
    right: 0rem;
    font-size: 1.3rem;
    margin: 0 5rem 2rem 0;
}

.Menu__group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Menu__navigation-link {
    color: var(--light-color);
    text-decoration: none;
}

.Menu__navigation-link:hover {
    color: var(--highlight-color);
}

.Menu__navigation-link.active {
    color: var(--mid-color);
}

.Menu__icon path {
    fill: var(--mid-color);
}
.Menu__icon:hover path {
    fill: var(--highlight-color);
}

.Menu__button {
    cursor: pointer;
    color: var(--light-color);
    background: none;
    border: none;
    margin: .2rem;
}
.Menu__button:hover {
    color: var(--main-color);
}
.Menu__button:active {
    color: var(--highlight-color);
}

.Menu__button--info {
    font-family: 'Arial';
    font-size: 1.3rem;
}