.PropositionPreview {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    padding: 3rem;
    opacity: .25;
}

.PropositionPreview img {
    opacity: .5;
}

.PropositionPreview--number {
    font-size: 1.5rem;
}