.displayed-propositions-container {
    box-sizing: border-box;
    background: #fff;
    padding: 5rem 5rem 20rem 5rem;
    height: 100vh;
    overflow: scroll;
}

.displayed-proposition {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.displayed-proposition::after {
    content: "";
    width: 0;
    height: 3rem;
    margin: 2rem auto 0 auto;
    display: block;
    border-left: 1px solid #000;
}

.displayed-proposition:last-of-type::after {
    display: none;
}

.displayed-proposition__text {
    text-align: justify;

}

.displayed-proposition__number {
    font-size: 1rem;
    text-align: center;
}


.displayed-propositions-container__link-container {
    display: flex;
}
.displayed-propositions-container__link {
    color: var(--light-color)
}
.displayed-propositions-container__link:hover {
    color: var(--highlight-color)
}
.displayed-propositions-container__link--previous {
}

.displayed-propositions-container__link--next {
    margin-left: auto;
}