.PropositionNode {
    color: black;
    position: relative;
    height: 1px;
    background: #000;
    background-clip: padding-box;
    border-bottom: 1px solid transparent;
    /* we need width based on content to transform proposition place corrently */
    padding-left: 5rem;
    transform-origin: center left;
    transform: rotate(var(--rotation-angle));
    cursor: pointer;
}

.PropositionNode.active {
    color: red;
    background: red;
    border-bottom: 1px solid red;
    z-index: 10;
}

.rootNodeContainer > .PropositionNode {
    padding: 0;
    border: none;
}

.Proposition {
    position: absolute;
    top: 50%;
    right: 0;
    transform:  translate(50%,-50%) rotate(var(--compensating-angle));
    background: #fff;
    z-index: 11;
    padding: .1rem;
}

.Proposition__number {
    margin: 0;
    padding: 0;
}

.PropositionNode__children {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.PropositionNode__child {
    position: absolute;
    top: 0;
    left: 0;
}
